# シャープで始めるとコメント行になる
 
# sass-cache フォルダまるごと無視したい
.sass-cache/
 
# 下階層全てのフォルダ内で ".DS_Store" ファイルを無視したい
*/.DS_Store
*/.gitignore

# 下階層全てのフォルダ内で拡張子が .psd のファイルを無視したい
#*/*.psd
*/*.sh

*/*.sublime-workspace

# トップ階層の .exe ファイルのみを無視したい
# ただしサブフォルダ内の .exe ファイルは無視しない
#/*.exe
 
# img フォルダをまるごと無視したい
# だけど .png だけは無視したくない
# img/*.*
# !.png